@font-face {
  font-family: 'Pexico-Regular';
  src: url('assets/webfonts/37494D_0_0.eot');
  src: url('assets/webfonts/37494D_0_0.eot?#iefix') format('embedded-opentype'), url('assets/webfonts/37494D_0_0.woff2') format('woff2'), url('assets/webfonts/37494D_0_0.woff') format('woff'), url('assets/webfonts/37494D_0_0.ttf') format('truetype');
}

* {
  box-sizing: border-box;
  margin: 0;
  font-family: 'Pexico-Regular';
}

body {
  background: #000;
}

header  {
  height: 200px;
  position: relative;
}

header video {
  width: 100%;
  /* height: 300px;   */
  position: relative;
  z-index: 0;
}

.container {
  margin: 0 120px;
}

#logo {
  height: 45px;
  position: absolute;
  top: 51px;
  left: 120px;
}

.container {
  width: calc(100% - 240px);
}

header .container {
  position: absolute;
  top: 120px;
}

main {
  margin: 81px 0;    
}

.last-updated {
  padding: 15px 0 0;
  margin: 10px 0;
  color: #fff;
  text-transform: uppercase;
  font-size: 10px;
  text-shadow: 
  -1px 0px 0 rgba(169, 0, 255, 1),
  -2px 0px 0 rgba(16, 10, 255, 1);
}

.search-bar {
  width: 100%;
  height: 30px;
  border: transparent;
  border-style: double;
  padding: 28px 30px;
  margin: 0;
  outline: none;
  font-size: 20px;
  color: #fff;
  text-shadow: 
    -1px 0px 0 rgba(169, 0, 255, 1),
    -2px 0px 0 rgba(16, 10, 255, 1);
  background-color: #000;
}

.search-bar::placeholder {
  color: #fff;
  text-shadow:
    -1px 0px 0 rgba(169, 0, 255, 1),
    -2px 0px 0 rgba(16, 10, 255, 1);
}

.search-form {
  position: relative;
}

.search-form:after, .search-form:before {
  content: '';
  position: absolute;
  display: block;
  background: #fff;
  width: 100%;
  height: 2px;
  top: 0; 
  box-shadow: 
  -2px 2px 0 rgba(169, 0, 255, 1),
  -4px 2px 0 rgba(16, 10, 255, 1), 
  2px 2px 0 rgba(255, 0, 105, 1);
}

.search-form:after {
  top: unset;
  bottom: 0;
}

.search-icon {
  position: absolute;
  top: 18px;
  background:url('./assets/Images/vv-icn-search-magnifying-glass.png') no-repeat;
  height: 30px;
  width: 30px;
  vertical-align: bottom;
}

main .container {
  margin-top: 20px;
  display: grid;
  grid-gap: 15px;
  grid-template-columns: 252px auto; 
  grid-auto-rows: 100vh;
  grid-template-areas: 
    "filter-tree video-information";
  align-items: start;
  z-index: 11;
  position: relative;
} 

.checkbox-container {
  grid-area: filter-tree;
}

.video-information {
  grid-area: video-information;
}

.checkbox {
  display: block;
}

.multiple {
  opacity: 0;
}

li .multiple + ol {
  height: 1em;
  margin: -37px 0 0 -48px;  
  background: url("./assets/Images/vv-arrow-menu-and-filter.svg") no-repeat 40px 0;
}

label {
  color: #fff;
}

.single:not(:checked),
.single:checked {
  opacity:0;
}

.custom-box {
  position: relative;
  display: inline-block;
  width: 20px;
  height: 20px;
  right: 133px;
  /* margin-right: 12px; */
  vertical-align: middle;
  background-color: inherit;
  color: #017b5f;
  border: 2px solid #666;
}

.single:checked+label {
  /* content: "";
  display: block;
  position: absolute;
  top: 5px;
  left: 5px;
  width: 10px;
  height: 10px; */
  color: #01a982;
  /* z-index: 3; */
}

main section {
  height: 100%
}

.video-selection {
  border-bottom: 1px dotted rgba(169, 0, 255, 1);
  height: 10%;
}

.video-search-info {
  text-transform: uppercase;
  color: #fff;
}

#video-search-info-span {
  text-transform: uppercase;
  color: #fff;
  text-align: left;
}
/* ................. */

input{
  font-size:1em;
}

ol.tree{padding-left:22px;}

li {
  list-style-type:none;
  color:#fff;
  position:relative;
  margin-left:-15px;
}

li label{
  padding-left: 18px;
  cursor: pointer;
  display: block;
  margin: 20px 0;
}

li input{
  width:1em;
  height:1em;
  position:absolute;
  left:-0.5em;
  top:0;
  /* opacity:0; */
  cursor: pointer;
}

li input + ol > li{
  display:none;
  margin-left:-14px !important;
  padding-left:1px
}

li input:checked + ol{
  height:auto;
  margin:-21px 0 0 -44px;
  padding:25px 0 0 80px;
}

li input:checked + ol > li{
  display:block;
  margin:0 0 0.063em;
}

li input:checked + ol > li:first-child{
  margin:0 0 0.125em;
}


@media only screen and (max-width: 1024px) {
    header video {
      display: none;
    }

    header .background-image {
      display: block;
      background-image:url('./assets/Images/vv-grid-bg.jpg');
      width: 100%;
      height: 225px;
    }

    main .container {
      margin-top: 20px;
      display: grid;
      grid-gap: 15px;
      grid-template-columns: 252px auto;
      grid-auto-rows: 100vh;
      grid-template-areas:
        "video-information video-information";
      align-items: start;
      z-index: 11;
      position: relative;
    }

    .checkbox-container {
      display: none;
    }
}
