@font-face {
  font-family: 'Pexico-Regular';
  src: url('assets/webfonts/37494D_0_0.eot');
  src: url('assets/webfonts/37494D_0_0.eot?#iefix') format('embedded-opentype'), url('assets/webfonts/37494D_0_0.woff2') format('woff2'), url('assets/webfonts/37494D_0_0.woff') format('woff'), url('assets/webfonts/37494D_0_0.ttf') format('truetype');
}

* {
  box-sizing: border-box;
  margin: 0;
  font-family: 'Pexico-Regular';
}

body {
  background: #000;
}

header  {
  height: 200px;
  position: relative;
}

header video {
  width: 100%;
  /* height: 300px;   */
  position: relative;
  z-index: 0;
}

.container {
  margin: 0 120px;
}

#logo {
  height: 45px;
  position: absolute;
  top: 51px;
  left: 120px;
}

.container {
  width: calc(100% - 240px);
}

header .container {
  position: absolute;
  top: 100px;
}

main {
  margin: 90px 0;
  /* width:calc(100% - 240px); */
  /* border-bottom: solid 2px #fff ; */
}

.bottom-line {
  width: calc(100% - 240px);
  margin: 0 auto;
}

.last-updated {
  padding: 15px 0 0;
  margin: 25px 0;
  color: #fff;
  text-transform: uppercase;
  font-size: 12px;
  text-shadow: 
  -1px 0px 0 rgba(169, 0, 255, 1),
  -2px 0px 0 rgba(16, 10, 255, 1);
}

.search-bar {
  width: 100%;
  height: 30px;
  border: transparent;
  border-style: double;
  padding: 30px 30px 28px ;
  margin: 0;
  outline: none;
  font-size: 20px;
  color: #fff;
  text-shadow: 
    -1px 0px 0 rgba(169, 0, 255, 1),
    -2px 0px 0 rgba(16, 10, 255, 1);
  background-color: #000;
}


.search-bar::placeholder {
  color: #fff;
  text-shadow:
  -1px 0px 0 rgba(169, 0, 255, 1),
  -2px 0px 0 rgba(16, 10, 255, 1);
}

.search-bar:focus::-webkit-input-placeholder {
  color: #000;
  text-shadow: none;
}

.search-form {
  position: relative;
}

.search-form:after, .search-form:before {
  content: '';
  position: absolute;
  display: block;
  background: #fff;
  width: 100%;
  height: 2px;
  top: 0; 
  box-shadow: 
  -2px 2px 0 rgba(169, 0, 255, 1),
  -4px 2px 0 rgba(16, 10, 255, 1), 
  2px 2px 0 rgba(255, 0, 105, 1);
}

.search-form:after {
  top: unset;
  bottom: 0;
}

.search-icon {
  position: absolute;
  top: 18px;
  background:url('./assets/Images/vv-icn-search-magnifying-glass.png') no-repeat;
  height: 30px;
  width: 30px;
  vertical-align: bottom;
}

.menu-tree {
  display: none;
}


.hide-menu {
  display: block;
  position: absolute;
  right: 0;
  background: #F25597;
}

.menu-icon {
 display: none;
}

#menu-icon-label {
  display: none;
}

main .container {
  margin-top: 20px;
  display: grid;
  grid-gap: 15px;
  grid-template-columns: 22% 77%; 
  grid-template-areas: 
    "filter-tree video-information";
  align-items: start;
  z-index: 11;
  position: relative;
  height: 828px;
} 

.checkbox-container {
  grid-area: filter-tree;
}

.video-information {
  grid-area: video-information;
  width: 100%;

}

.checkbox {
  display: block;
  margin: 0 0 20px;
}

label {
  color: #fff;
  text-shadow: 
    -1px 0px 0 rgba(169, 0, 255, 1),
    -2px 0px 0 rgba(16, 10, 255, 1);
}

/* #first-checkbox {
  margin: 0 0 20px; 
} */

.multiple {
  opacity: 0;
  z-index: 3;
}

.single {
  opacity:0;
  z-index: 2;
}

.multiple + ol:before {
  content: '';
  display: block;
  position: absolute;
  top: 0;
  left: -14px;
  height: 20px;
  width: 20px;
  background-image: url('./assets/Images/vv-arrow-menu-and-filter.svg');
  background-position: center;
  background-size: cover;
  transition: 0.75s ease-in-out
}

.multiple:checked + ol:before {
  transform: rotate(90deg);
}

.custom-box {
  position: absolute;
  display: inline-block;
  width: 20px;
  height: 20px;
  left: -11px;
  top: -2px;
  vertical-align: middle;
  background-color: inherit;
  border: 2px solid #fff;
  z-index: 1;
  box-shadow: -2px 2px 0 rgba(169, 0, 255, 1);
}

/* label > .single:checked {
  color: #F25597;
} */

.single:checked + .custom-box {
  border: 2px solid #F25597;
}

.single:checked + .custom-box::after {
  content: "";
  display: block;
  position: absolute;
  top: 2px;
  left: 2px; 
  width: 100px;
  height: 100px;
  background: url('./assets/Images/vv-check.svg') no-repeat;
}

/* input {
  font-size: 1em;
} */

.tree {
  padding-left: 22px;
}

li {
  list-style-type: none;
  color: #fff;
  position: relative;
  margin-left: -15px;
}

li label {
  padding-left: 18px;
  display: block;
  margin: 0 0 25px;
}

li input {
  position: absolute;
  left: -20px;
  top: 0;
  cursor: pointer;
  width: 160px;
  height: 20px;
}

li input + ol > li {
  display: none;
  /* margin-left: -14px; */
  /* padding-left: 1px */
}

li input:checked + ol {
  height: auto;
  margin: -21px 0 0 -44px;
  padding: 25px 0 0 80px;
}

li input:checked+ol>li {
  display: block;
  margin: 0 0 0.063em;
}

li input:checked+ol>li:first-child {
  margin: 0 0 0.125em;
}

main section {
  height: 100%
}

.video-selection {
  height: 65px;
}

.dotted-line {
  /* border-bottom: 1px dotted #fff; */
  /* height:2px; */
  width: 100%;
  /* specify a height for this hr */
  overflow: hidden;
  border: transparent;
}

.dotted-line:after {
    content: "------------------------------------------------------------------------------------------";
    letter-spacing: 4px;
    color:#fff;
    /* Use letter-spacing to increase space between dots*/
    white-space: nowrap;
}

/* .video-selection {
  position: relative;
  height: 10%;
}

.dotted-line {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 0.5px;
  background-image: linear-gradient(to right, transparent 75%, #A900FF 25%);
  background-size: 4px 100%;
   box-shadow: -2px 2px 0 rgba(169, 0, 255, 1),
   -4px 2px 0 rgba(16, 10, 255, 1),
   2px 2px 0 rgba(255, 0, 105, 1);
} */


.video-search-info {
  text-transform: uppercase;
  color: #fff;
  /* padding: 15px 0 0; */
  /* margin: 25px 0; */
  font-size: 12px;
  text-shadow: 
  -1px 0px 0 rgba(169, 0, 255, 1),
  -2px 0px 0 rgba(16, 10, 255, 1);
}

#video-search-info-span {
  text-transform: uppercase;
  color: #F25597;
  text-align: left;
  text-shadow: 
  -1px 0px 0 rgba(169, 0, 255, 1),
  -2px 0px 0 rgba(16, 10, 255, 1);
  font-weight: lighter;
}
/* ................. */




@media only screen and (max-width: 1024px) {
    .container {
      width: calc(100% - 64px);
      margin: 0 32px;
    }

    #logo {
      left: 30px;
    }

    header video {
      display: none;
    }

    header .background-image {
      display: block;
      background-image:url('./assets/Images/vv-grid-bg.jpg');
      width: 100%;
      height: 225px;
    }

    .menu-icon {
      display: block;
      position: absolute;
      top: 20px;
      right: 70px;
      background: url(./assets/Images/vv-icn-filter.svg) no-repeat;
      height: 28px;
      width: 28px;
    }

    .menu-tree {
      z-index: 300;
    }

    #menu-icon-label {
      display: block;
      position: absolute;
      top: 8px;
      left: 40px;
      color: #F25597;
      font-size: 12px;
      text-transform: uppercase;
      text-shadow: -1px 0 0 rgba(169, 0, 255, 1);
    }

    main .container {
      margin-top: 20px;
      display: grid;
      grid-gap: 15px;
      grid-template-columns: calc(100% - 7px) 0;
      grid-auto-rows: 100vh;
      grid-template-areas:
        "video-information video-information";
      align-items: start;
      z-index: 11;
      position: relative;
    }

    .dotted-line:after {
      content: "-----------------------------------------------------------------------------------------------------";
    }

    .checkbox-container {
      display: none;
    }

    .bottom-line {
      width: calc(100% - 20px);
    }
}
