@font-face {
  font-family: 'Pexico-Regular';
  src: url('assets/webfonts/37494D_0_0.eot');
  src: url('assets/webfonts/37494D_0_0.eot?#iefix') format('embedded-opentype'), url('assets/webfonts/37494D_0_0.woff2') format('woff2'), url('assets/webfonts/37494D_0_0.woff') format('woff'), url('assets/webfonts/37494D_0_0.ttf') format('truetype');
}

* {
  box-sizing: border-box;
  margin: 0;
  font-family: 'Pexico-Regular';
}

body {
  background: #000;
}

header  {
  height: 200px;
  position: relative;
}

header video {
  width: 100%;
  position: relative;
  z-index: 0;
}

.container {
  margin: 0 120px;
}

#logo {
  height: 50px;
  position: absolute;
  top: 51px;
  left: 120px;
}

.container {
  width: calc(100% - 240px);
}

header .container {
  position: absolute;
  bottom: 0;
}

.last-updated {
  padding: 15px 0 0;
  margin: 10px 0;
  color: #fff;
  text-shadow: 
  -1px 0px 0 rgba(169, 0, 255, 1),
  -2px 0px 0 rgba(16, 10, 255, 1);
}

.search-bar {
  width: 100%;
  height: 30px;
  border: transparent;
  border-style: double;
  padding: 0;
  margin: 0;
  outline: none;
  background-color: #000;
}

.search-form {
  position: relative;
}

.search-form:after, .search-form:before {
  content: '';
  position: absolute;
  display: block;
  background: #fff;
  width: 100%;
  height: 2px;
  top: 0; 
  box-shadow: 
  -2px 2px 0 rgba(169, 0, 255, 1),
  -4px 2px 0 rgba(16, 10, 255, 1), 
  2px 2px 0 rgba(255, 0, 105, 1);
}

.search-form:after {
  top: unset;
  bottom: 0;
}

main .container {
  margin-top: 20px;
  display: grid;
  grid-gap: 15px;
  grid-template-columns: 252px auto; 
  grid-auto-rows: 100vh;
  grid-template-areas: 
    "a b";
  align-items: start;
  z-index: 11;
  position: relative;
} 

.checkbox-container {
  grid-area: a;
}

.checkbox {
  display: block;
}

label {
  color: #fff;
}

main section {
  height: 100%
}

.video-selection {
  border-bottom: 1px dotted rgba(169, 0, 255, 1);
  height: 10%;
}

.video-search-info {
  text-transform: uppercase;
  color: #fff;
}

#video-search-info-span {
  text-transform: uppercase;
  color: #fff;
  text-align: left;
}
/* ................. */

input{font-size:1em;}

ol.tree{padding-left:22px;}

li{
  list-style-type:none;
  color:#fff;
  position:relative;
  margin-left:-15px;
}

li label{
  padding-left:12px;
  cursor: pointer;
  display: block;
}

li input{
  width:1em;
  height:1em;
  position:absolute;
  left:-0.5em;
  top:0;
  /* opacity:0; */
  cursor: pointer;
}

li input + ol > li{
  display:none;
  margin-left:-14px !important;
  padding-left:1px
}

li input:checked + ol{
  height:auto;
  margin:-21px 0 0 -44px;
  padding:25px 0 0 80px;
}

li input:checked + ol > li{
  display:block;
  margin:0 0 0.063em;
}

li input:checked + ol > li:first-child{
  margin:0 0 0.125em;
}


@media only screen and (max-width: 1024px) {
    header video {
      display: none;
    }

    header .background-image {
      display: block;
      background-image:url('./assets/Images/vv-grid-bg.jpg');
      width: 100%;
    }
}
